body {
    background-color: rgb(32, 32, 32);
    color: rgb(216, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}

#dice-area {
    height: 100px;
    margin-top: 20px;
}

.die {
    padding: 10px;
    width: 3ch;
    height: 3ch;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.tile {
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 5px;
    display: inline-block;
    font-size: 50px;
    user-select: none;
}

.open-tile {
    cursor: pointer;
    background-color: rgb(54, 54, 54);
}

.closed-tile {
    background-color: black;
    color: black;
}

.selected-tile {
    border: 2px solid rgb(75, 224, 75) !important;
}

#tiles {
    margin-top: 20px;
    margin-bottom: 20px;
}

#score-disp {
    margin-bottom: 10px;
    font-size: 30px;
}

.message {
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(255, 0, 0, 0.1);
    padding: 10px;
    display: inline-block;
    font-size: 24px;
}

.btn {
    padding: 10px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    font-size: 30px;
    user-select: none;
}

#roll-btn {
    background-color: rgb(4, 117, 38);
    color: white;
}

#roll-btn:hover {
    background-color: rgb(4, 117, 38, 0.5);
}

#roll-btn:disabled {
    background-color: rgb(146, 146, 146);
}

#shut-btn {
    background-color: rgb(77, 43, 155);
    color: white;
}

#shut-btn:hover {
    background-color: rgb(77, 43, 155, 0.5);
}

#shut-btn:disabled {
    background-color: rgb(146, 146, 146);
}

#restart-btn {
    font-size: 20px;
    margin-bottom: 20px;
    background-color: rgb(100, 100, 100);
    color: white;
}

#restart-btn:hover {
    background-color: rgb(53, 53, 53, 0.5);
}
